body {
	background-color: tan;
	font-family: "Merriweather", sans-serif;
	font-size: 1em;
}

img {
    max-width: 300px;
}

nav {
    
    display: inline-block;
    font-size: 1.65em;
    text-align: center;
}

/* Links (http://mchow01.github.io/)*/ 
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}

/* Menu bar */
menu-bar {
}
.menu-title {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.menu-links {
    padding-left: 75px;
    text-decoration: none;
    color: black;
}

/* Screen Settings */
@media Screen and (max-width: 700px) {
    body {
        background-color: blue;
    }
}









