body {
	background-color: tan;
	font-family: "Merriweather";
	font-size: 12pt;
    padding: 10px;
    padding-bottom: 75px;
}

img {
    max-width: 300px;
}

nav {
    display: inline-block;
    font-size: 1.55em;
}

/* Links (http://mchow01.github.io/)*/ 
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}

/* Menu bar */
.menu-title {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    padding-right: 75px;
}

.menu-links {
    padding-right: 75px;
    text-decoration: none;
    color: black;
}

/* Screen Settings */
@media Screen and (max-device-width: 1100px) {
    img {
        max-width: 50vw;
    }

    .menu-title {
        padding-right: 50px;
    }

    .menu-links {
        padding-right: 30px;
    }
}










